$font-stack:    Helvetica, sans-serif;
$primary-color: #fff;


h1, h2, h3 {
  color: $primary-color;
  text-align: center;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

p {
  padding-left: 20px;
  font-weight: bold;
}

li {
  padding: 5px;
  text-align: justify;
}

a {
  color: greenyellow;
}